/* Variables */
/* =============================================================== */
:root {
  --darkMainColor: rgb(65, 90, 119);
  --lightMainColor: rgb(119, 141, 169);
  --accentColor: rgb(255, 183, 3);
  --listItemAColor: rgb(136, 161, 196);
  --listItemBColor: rgb(104, 121, 143);
  --clickableColor: rgb(75, 75, 75);
  --transparent: rgb(0, 0, 0, 0);
  --backgroundColor: #393d3f;
}

/* Utility Classes and General Styling */
/* =============================================================== */
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--lightMainColor) !important;
  color: rgb(224, 225, 221) !important;
  text-shadow: 1px 1px 2px black;
}

h1 {
  text-align: center;
  color: white;
}

label {
  color: white;
  text-shadow: 2px 2px black;
}

input {
  color: aliceblue;
  background-color: var(--clickableColor);
  border-radius: 5px;
  border-style: solid;
  padding: 5px;
}

option {
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.small-number-input {
  width: 32px;
  color: aliceblue;
}
.large-number-input {
  width: 64px;
  color: aliceblue;
}

.icon-button {
  transition-duration: 0.5s;
  cursor: pointer;
  font-size: large;
  margin: 0 5px;
}
.icon-button:hover {
  color: white;
  transform: scale(1.2);
}
.icon-button-danger:hover {
  color: rgb(255, 32, 32) !important;
}
.hidden-button {
  background-color: var(--transparent);
  border: none;
  color: aliceblue;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Nav Bar */
/* =============================================================== */
.nav-container {
  background-color: var(--darkMainColor);
  height: auto;
  border-bottom: var(--accentColor) solid 5px;
  padding: 25px 0;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
}

.hrefCon {
  display: flex;
  justify-content: space-between;
}

nav h2 {
  align-self: flex-end;
  padding-left: 20px;
}

nav h1 {
  padding-left: 20px;
  font-size: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-self: flex-end;
  padding-right: 20px;
}
nav ul li {
  float: left;
  padding: 10px;
  transition-duration: 0.5s;
  text-decoration: none;
  color: rgb(224, 225, 221);
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}

.logSignupLinks {
  align-self: flex-end;
  justify-content: space-between;
}

/* Workouts Page */
/* =============================================================== */
.swap-tab {
  background-color: var(--clickableColor);
  border: none;
  padding: 15px 15px 10px 15px;
  border-radius: 25px 25px 0 0;
  margin: 0;
  color: aliceblue;
  transition-duration: 0.5s;
  cursor: pointer;
}
.swap-tab:hover {
  background-color: var(--darkMainColor);
}
.current-tab {
  background-color: var(--darkMainColor);
  border: none;
  padding: 15px 15px 10px 15px;
  border-radius: 25px 25px 0 0;
  margin: 0;
  color: aliceblue;
}

.workout-container {
  margin: 0 60px 0 20px;
  padding: 100px;
}

.select-workout-form {
  background-color: var(--darkMainColor);
  padding: 20px;
  border-radius: 0 25px 0 0;
}

.add-exercise-section {
  background-color: var(--darkMainColor);
  padding: 20px;
  border-radius: 0 0 25px 25px;
  border-bottom: var(--accentColor) solid 5px;
  display: flex;
  flex-direction: column;
}

.selected-workout {
  background-color: var(--transparent);
  padding: 10px;
  min-width: 50%;
  font-size: x-large;
  color: aliceblue;
  background-color: var(--clickableColor);
}

.title-edit {
  background-color: var(--clickableColor);
  padding: 10px;
  min-width: 49%;
  width: auto;
  font-size: x-large;
  color: aliceblue;
}

.exercise-li {
  padding: 10px;
  background-color: var(--listItemAColor);
  list-style-type: none;
  transition-duration: 0.5s;
}

.exercise-li:nth-child(even) {
  background-color: var(--listItemBColor);
  padding: 10px;
}

.exercise-name {
  font-size: x-large !important;
}

.exercise-info {
  font-size: large;
  margin: 0 15px;
}

.workout-container {
  margin: 30px;
  height: auto;
}

.first-workout-container {
  background-color: var(--darkMainColor);
  padding: 20px;
  border-radius: 25px;
  height: 200px;
  border: var(--accentColor) solid 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.workout-title {
  margin: 10px 0 30px;
}

.edit-exercise-form {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}

.add-workout-form-container {
  padding: 20px;
  background-color: var(--darkMainColor);
  border-radius: 0 25px 25px 25px;
  border-bottom: var(--accentColor) solid 5px;
}

/* Calendar Page */
/* =============================================================== */

.calendar-cont {
  display: flex;
  flex-wrap: wrap;
  height: 550px;
  margin: 25px;
}

.calendar-h1 {
  margin: 20px;
}

.calendar-dates {
  background-color: var(--darkMainColor);
  padding: 10px;
  height: 10vh;
  border-bottom: var(--accentColor) solid 5px;
  border-right: var(--accentColor) solid 5px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin: auto;
}

.date-input {
  background-color: var(--clickableColor);
}

/* Temporary while building app */
/* =============================================================== */
.formCon {
  padding: 100px;
}

.loginForm {
  background-color: rgb(224, 225, 221);
  padding: 10px;
  height: auto;
  width: 45vh;
  margin: 0 auto;
  border: var(--accentColor) solid 5px;
  border-radius: 25px;
}

.formEl {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
  text-align: center;
}

.buttonCon {
  display: flex;
  justify-content: center;
}

.loginBtn {
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  background-color: rgb(58, 134, 255);
  color: white;
}

.clickableP {
  color: rgb(58, 134, 255);
  text-shadow: 0px 0px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
}
.clickableP:hover {
  color: rgb(0, 98, 255);
}

.bgImg {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.container {
  /* background-image: url('/client/src/images/background.jpeg') center center/cover no-repeat;  */
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: fill;
}

.footer-container {
  background-color: var(--darkMainColor);
  height: 115px;
  border-top: var(--accentColor) solid 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.github-links {
  text-decoration: none;
  color: white;
}

/* My Page */
/* =============================================================== */

.mypage-container,
.mypage-form-title {
  text-align: center;
}



.mypage-form-container {
  width: 400px;
  background-color: var(--darkMainColor);
  margin: 120px auto 300px;
  border-bottom: var(--accentColor) solid 5px;
  border-radius: 25px;
  padding: 20px;
}

.mypage-form-title,
.mypage-title {
  margin: 25px;
}

.mypage-inputs {
}

/* Todays Page */
/* =============================================================== */

.today-container {
  height: 750px;
  text-align: center;
  margin-top: 140px;
}

.today-exercise-container {
  height: auto;
  width: 400px;
  background-color: var(--darkMainColor);
  margin: 30px auto;
  border-bottom: var(--accentColor) solid 5px;
  border-right: var(--accentColor) solid 5px;
  border-radius: 25px;
  padding: 10px 0 30px;
}

.today-h1 {
  margin: 25px auto;
}

ul {
  list-style-type: none;
}